@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    html {
        font-family: 'Hedvig Letters Sans', sans-serif;
        font-family: 'Space Grotesk', sans-serif;
    }
} */

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}



/* AddVideoInPlaylist.css */

/* Hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Position checkbox below the video */
.checkbox-position {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}

/* Remove button hover effects */
button:hover {
    background-color: inherit;
}

/* Ensure the buttons have no hover effects */
button {
    transition: none !important;
}
